
body
{
  text-align: center;
  background: none;
}

.main 
{
    margin: 1% 3% 3% 3%;
    opacity: 0.1;
}

#heading
{
  margin-bottom: 0.7em;
}

.board-container
{
    margin: 0.5em;
}

/* Filters */

#radio-options-container
{
  margin-bottom: 0.8em;
}

#filter-params
{
  margin-bottom: 0.8em;
}

.form-cont
{
  display: inline-block;
  white-space: nowrap;
  margin-right: 1em;
}

.plane-icon
{
  margin-left: 0.4em;
  display: inline-block;
  width: 1.5em;
}

#flight-id
{
  width: 5em;
}

.radio-button
{
  margin-right: 0.5%;
}

select
{
  margin-right: 1%;
}

.form-control
{
  width: auto;
  height: 2em;
  display: inline-block;
  padding: 0.1em;
  font-weight: 500;
}

/* Flights table */

#flights-table-container
{
  max-height: 70vh;
  overflow-y: auto;
}

#flights-table
{
  opacity: 0.5;
}

th
{
  background-color: rgb(168, 213, 224, 0.5);
}

td
{
  background-color: rgb(242, 254, 255);
}

.no-flights-message
{
  display: none;
  text-align: center;
  font-weight: 600;
}

/* Loading Indicators */

.loading-page-anim
{
  margin: 2em auto;
  width: 16em;
}

.loading-data-anim
{
  margin: 3em auto;
  width: 6em;
  display: none;
}

/* Error Indicators */

.error-container
{
  display: none;
}

.error-icon
{
  display: inline-block;
  width: 5%;
  opacity: 0.75;
  margin-right: 1%;
}

.error-message
{
  display: inline-block;
  font-size: 1.3em;
  font-weight: 400;
  margin: 0;
  vertical-align: middle;
}

#reload-btn
{
  display: inline-block;
  font-size: 1.2em;
  margin-left: 1%;
}

@media screen and (max-width: 600px)
{
  h3
  {
    font-size: 1.5em;
  }

  #radio-options-container, #filter-params, #flights-table-container
  {
    font-size: 0.9em;
  }

  #flights-table-container
  {
    font-size: 0.65em;
  }
}